:root {
  --primary: rgba(88, 148, 172, 0.516);
  --secondary: rgba(224, 18, 18, 0.696);
  --box-shadow: 0px 5px 5px 5px var(--primary);
  --dark-bg: #2a2a2a;
  --dark-text-color: white;
  --border-color: black;
  --dark-border-color: white;
}
.body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 80%;
  margin: auto;
}
[for="menu"] {
  position: fixed;
  top: 7rem;
  left: 3rem;
}
[for="menu"]:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.3s;
}
#menu:checked + .wrapper {
  background: var(--dark-bg);
  --border-color: var(--dark-border-color);
}
#menu {
  display: none;
}
header .container > div hr {
  color: red;
  font-weight: bold;
  font-size: 16px;
}
header {
  background: var(--primary);
  /* width: 100vw; */
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0px;
}
header > div {
  /* background: orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: var(--primary); */
}
.line::before {
  content: "";
  background: red;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 30px;
}
ul {
  /* background: greenyellow; */
  position: relative;
  list-style: none;
  display: flex;
  color: white;
  font-weight: bold;
  gap: 1rem;
  /* margin: 0; */
  /* text-transform: uppercase; */
}

/* Hero Section */
.hero {
  background: var(--primary);
  height: 60vh;
  padding-top: 50px;
}
.mid {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: var(--secondary);
  box-shadow: var(--box-shadow);
  /* height: 50vh; */
}
.info {
  padding-left: 4rem;
  padding-bottom: 0.8rem;
}
.btn {
  background: black;
  color: white;
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  /* margin-left: 5px; */
}

.img_me img {
  position: absolute;
  top: -50%;
  right: 30%;
  height: 160%;
}
/* Banner */
.banner {
  background: var(--primary);
  margin-top: 2rem;
  /* height: 20vh; */
}
.banner .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
}
.banner .container > div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.banner .container > div {
  display: flex;
  gap: 2px;
}
.banner .container > div div {
  margin: 5px;
}

/* Skills */
.skills {
  background: var(--primary);
  /* height: 20vh; */
}
.skills > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills > div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* myprojects */
.my_project {
  background: var(--primary);
}
.my_project .container .projectcard {
  background: skyblue;
  display: grid;
  gap: 1rem;
  grid-template-areas: "I1 I2" "I3 I4";
}
.project1 {
  grid-area: I1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.project2 {
  grid-area: I2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.project3 {
  grid-area: I3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.project4 {
  grid-area: I4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bottom {
  background: yellow;
  width: 100%;
}
.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.about_me {
  background: rgba(138, 205, 37, 0.664);
  position: relative;
}
.about_me .container {
  display: flex;
  justify-content: space-between;
}
.about_me .container img {
  /* position: absolute;
  top: 100px; */
  /* left: 150px; */
  width: 40%;
  /* height: 300px; */
}
.contact {
  background: var(--primary);
}
.social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border-radius: 30px;
  background: black;
  color: white;
  padding: 1rem;
  margin: 1.5rem;
}
.uparrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
}
footer {
  padding: 1rem;
  background: black;
  display: flex;
  justify-content: center;
  color: white;
  gap: 2rem;
}

@media (max-width: 550) {
  .banner .container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-wrap: nowrap; */
    /* flex-grow: 1; */
    /* justify-content: space-between; */
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
  }
}
